<h1 id='main_title'>A Letter to the Editor:</h1>
<form method='post'>
	<h3 class='sub_title'>In my previous letter, I fear I had made a mistake.</h3>
	<h3 class='sub_title'>The correct content should be:</h3>
	<textarea id='response_area' class='col-lg-12' name='response'><%= @resp %></textarea>
	<h3 class='sub_title'>At the press of the button below, may this correction be published for all to behold.</h3>
	<input type='submit' value='Edit Response' class='btn btn-info btn-lg col-lg-2 col-lg-offset-5'>
</form>