<h1 id='main_title'>To Issue a Correction</h1>
<form method='post'>
	<h3 class='sub_title'>On the matter of the following term, a correction must be made.</h3>
	<h3 class='sub_title'>The correct term is “<input id='inline_input' type='text' name='term' value='<%= @term %>' data-autosize-input='{ "space": 0 }'>”</h3>
	<h3 class='sub_title'>This correction shall be set in motion by the pressing of the button below.</h3>
	<input type='submit' value='Edit Term' class='btn btn-info btn-lg col-lg-2 col-lg-offset-5'>
</form>