<h1 id='main_title'>The Process of Adding a Term</h1>
<form method='post'>
	<h3 id='sub_title'>The term shall be “<input id='inline_input' type='text' name='term' placeholder='input a term' data-autosize-input='{ "space": 0 }'>”</h3>
	<h3 id='sub_title'>It shall be in <strong>sentence case</strong>, and shall be added once the button below is pressed.</h3>
	<input type='submit' value='Add Term' class='btn btn-info btn-lg col-lg-2 col-lg-offset-5'>
</form>